body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
}

.navbar {
    display: flex;
    justify-content: center;
  list-style: none;
  }

#search-tab {
    float: left;
    
}

#list-buttons {
    align-self: left;
    margin: 0px;
    padding: 0px;
}

#city-button {
    width: 200px;
    align-self: left;
}

.five-day {
    border-style: solid;
    background-color: lightblue
}

.card-body {
    
    padding: 0%;
    float: left;
    max-width: 18%; 
    max-height: 15%;
    justify-items: left;
    text-align: left;
    margin: 5px;


}

.card-title, .card-text {
    text-align: left;
    padding: 0%;
}

.display {
    border-style: solid;
    min-height: 400px;
    min-width: 100px;
}

.temperature-display, .humidity-disdplay, .wind-speed-display, .uv-index-display {
    float: left;
    min-width: 650px;
    min-height: 15px;
}

ul {
    list-style: none;
    padding: 0px;
}

.row-cards {
    margin: 0px;
    justify-content: left;
    width: 100%;
}

.col-md-8 {
    padding: 0px;
}